/* Basic Color */
$white: #fff;
$black: #000;
$background: #F9FAFB;

/* Gray */
$gray900: #0F172A;
$gray800: #1E293B;
$gray500: #64748B;
$gray400: #94A3B8;
$gray300: #CBD5E1;
$gray200: #E2E8F0;
$gray100: #F1F5F9;

/* Violet */
$violet600: #7C3AED;
$violet200: #DDD6FE;
$violet100: #EDE9FE;

/* Amber */
$amber800: #92400E;
$amber200: #FDE68A;

/* Buttons */
$color-deactive: #E2E8F0;
$color-add: #7C3AED;
$color-delete: #F43F5E;
$color-edit: #BEF264;

