/* Basic Color */
$white: #fff;
$black: #000;
$background: #F9FAFB;

/* Gray */
$gray900: #0F172A;
$gray800: #1E293B;
$gray500: #64748B;
$gray400: #94A3B8;
$gray300: #CBD5E1;
$gray200: #E2E8F0;
$gray100: #F1F5F9;

/* Violet */
$violet600: #7C3AED;
$violet100: #EDE9FE;

/* Amber */
$amber800: #92400E;

/* Buttons */
$color-add: #E2E8F0;
$color-add-active: #7C3AED;
$color-delete: #F43F5E;
$color-edit: #BEF264;

/* CSS Variables for React inline styles */
:root {
  --white: #{$white};
  --black: #{$black};
  --background: #{$background};
  
  --gray900: #{$gray900};
  --gray800: #{$gray800};
  --gray500: #{$gray500};
  --gray400: #{$gray400};
  --gray300: #{$gray300};
  --gray200: #{$gray200};
  --gray100: #{$gray100};
  
  --violet600: #{$violet600};
  --violet100: #{$violet100};
  
  --amber800: #{$amber800};
  
  --color-add: #{$color-add};
  --color-add-active: #{$color-add-active};
  --color-delete: #{$color-delete};
  --color-edit: #{$color-edit};
}
