@import '../styles/variables';

* {
  font-family: 'NanumSquare';
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} 

.App {
  background: $background;
  width: 100%;
  height: 100%;
}

.main-page {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  
  .container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .input-section {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    
    .search-bar {
      margin-bottom: 0;
      margin-right: 16px;
      width: 100%;
      
      .input-text {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        font-size: 16px;
        color: $gray900;
        
        &::placeholder {
          color: $gray500;
        }
      }
    }
  }

  .add-button {
    width: 164px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      cursor: pointer;
      background-color: $color-add;
      color: white;
    }

    .plus-icon {
      margin-right: 4px;
    }

    .button-text {
      font-size: 16px;
      position: relative;
      bottom: -0.1em;
    }
  }
}


