@import '../styles/variables';

.todo-list {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;

  @media (max-width: 744px) {
    flex-direction: column;
    gap: 48px;
    padding: 0 24px;
  }

  .done-section, .todo-section {
    width: 100%;
  }
  
  .empty-state {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $gray400;
    font-size: 16px;
    padding: 64px 0;

    img {
      width: 240px;
      height: 240px;
      margin-bottom: 16px;
    }
  }
  
  .items-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 16px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 744px){
  .todo-list {
    padding: 0;
  }
}
